body {
	margin: 20px 0px 20px 0px;
	background-color: rgb(240, 234, 157);
}

.header {
	background-color: #e0e7dd;

}

.header h1 {
	color:#111111;
	font-size: 5vw;
	line-height: 0px;
	margin:0px;
	padding-bottom:0px;

}
p{
	position: absolute;
	top: 118px;
	left: 479px;
}


#icon {
	float: left;
	padding:0;
}

#clock {
	text-align: right;
}

#addTitle {
	float: left;
	padding:0px;
}

#add {
	text-align: right;
	padding:0;
}

#a {
	text-align: center;
	color: #111111;
}

#icon {
	color: #111111;		
}

#note {
	color: #111111;
}

#note{
	position: absolute;
	top: 39px;
	left: 64px;
}

label {
	margin-top: 20px;
}

#timeFormat {
	font-size: 12px;
}

button {
	margin-top: 20px;
}

div#newTrainSchedule.panel-body{
	height: 0px;
	max-height: 400px;
	visibility: hidden;
	padding: 0px 15px 0px 15px;
	
}

.newTrainInput {
	padding:0px;

}

#panel-heading {
	background-color: black;
}

#newTrain {
	text-align: right;
}